<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>會員頁面</title>
        <link rel="stylesheet" type='text/css' href="../static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .btn-logout{
                border: none;
                background: none;
                color: blue;
                padding: 0;
                font:inherit;
                cursor: pointer;
                text-decoration: underline;
            }
        </style>
    </head>
    <body >
        <div class="title">
            <h1>歡迎光臨，這是會員頁</h1>
        </div>
        <form id="logoutForm" class="member-notify" action="signout" method="get">
            <div>恭喜你，成功登入系統</div>
            <div><button class="btn-logout" type="submit">登出系統</button></div>
        </form>
        

        <script>
            
        </script>
        
    </body>
    
    
</html>
